<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
    <header>
        <div class="row">
            <div class="home-btn col-4">
              <a class="btn btn-third" href="/">Skilltube</a>
            </div>
        </div>
    </header>
    <h2>Login Form</h2>


    {% if request.GET.error_message %}
    <div class="alert alert-success">
      {{ request.GET.error_message }}
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</body>

</html>
