<html>
    <head>
        <meta charset="UTF-8">
        <title>Upload Videos</title>
        <link rel="stylesheet" type="text/css" href="/static/css/video_uploader.css">
    </head>
<body>
    <div class="row">
        <div class="home-btn col-4">
          <a class="btn btn-third" href="/">Skilltube</a>
        </div>
    </div>

<h1>Select a video to upload</h1>
<form enctype="multipart/form-data" method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload"/>
</form>
</body>
