@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
  background: white;
  font-family: 'PT Sans', sans-serif;
}
h2{
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}
a{
  color: #333;
}
a:hover{
  color: #57da66;
  text-decoration: none;
}
.card{
  border: 0.40rem solid #f8f9fa;
  top: 10%;
}
.form-control{
  background-color: #ffffff;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}

.form-control:focus {

    color: green;
    background-color: #ffffff;
    border: 3px solid #da5757;
    outline: 0;
    box-shadow: none;

}

.btn{
  padding: 0.6rem 1.2rem;
  background: #57da6f;
  border: 2px solid #57da7e;
}
.btn-primary:hover {

    
    background-color: #8cdf90;
    border-color: #8cdf8f;
    transition: .3s;

}
.card-body.py-md-4{
    display: flex;
    justify-content: center;
}