/*** Font settings ***/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');



body {
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  margin: 0;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: black;
  color: #008f26;
}